<% layout('/layouts/boilerplate') %>
<body>

  <h1>Listing Details</h1>
  
  <ul>
    <li><strong>Title:</strong> <%= listing.title %></li>
    <li><strong>Description:</strong> <%= listing.description %></li>
    <li class="price">&#8377;<%= listing.price.toLocaleString('en-IN') %></li>
    <li class="location"><strong>Location:</strong> <%= listing.location %></li>
    <li class="country"><strong>Country:</strong> <%= listing.country %></li>
  </ul>

  <a href="/listings/<%=listing._id%>/edit">EDIT</a>
  <form action="/listings/<%= listing._id%>?_method=DELETE" method="POST">
    <button>Delete</button>
  </form>

</body>

